.DS_Store
code/.Rhistory
code/.RData
wirvsvirus/draft/concept.aux
wirvsvirus/draft/concept.log
wirvsvirus/draft/concept.out
wirvsvirus/draft/concept.pdf
.Rhistory
.vscode/settings.json
rsconnect/shinyapps.io/rnm667/COVID-19.dcf
